.nerede{
    background: $text-white url($img-path + 'nerede-bg.png') no-repeat top right;
    height: 275px;
}

.nerede a{
    border: 1px solid #B8B8B8;
    padding: 20px 40px;
    text-align: center;
    font-size: 30px;
    margin: 0 60px;
    color: $black-color;
}

.nerede i{
    font-size: 55px;
    padding-bottom: 15px;
    color: $gundogdu-color;
}

.marka{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
}

.marka ul li{
    display: inline-block;
    width: 100%;
    text-align: center;
}

footer{
    background: $footer-bg;
    overflow: hidden;
}

footer .col-9.content{
    margin: 0;
    padding: 35px 0;
}

footer .footin{
    margin: auto!important;
    justify-content: space-around;
}

footer .footin ul, footer .footin ul li a{
    color: $text-white;
    position: relative;
}

footer .footin ul li{
    margin-top: 9px;
    margin-bottom: 9px;
}

footer .footin ul.col-2 li:nth-child(1){
    margin-bottom: 25px;
}

footer .col-2 li:nth-child(1):after{
    content: "";
    width: 30px;
    border-bottom: 1px solid $gundogdu-color;
    position: absolute;
    left: 23px;
    top: 35px;
    font-weight: bold;
}

footer .footin .right ul li a:after{ 
    display: none!important;
}

footer .footin ul.col-2 li:nth-child(1), footer .footin .footitle li a{
    font-weight: bold;
}

footer .footin ul.col-2{
    padding: 0 23px;
}

footer .footin .right p{
    margin-bottom: 25px;
    font-size: 16px;
}

footer .footin .right ul li a{
    color: #7b7b7b;
}

footer .footin .right ul:nth-child(3) li:last-child a{
    color: #3a3a3a;
    margin-top: 15px;
}

footer .footin .right ul:nth-child(3) li:last-child {
    margin-top: 21px;
}

footer .social{
    display: inline-flex;
    right: 0;
}

footer .social li{
    padding: 0px 9px;
    font-size: 22px;
    color: $gundogdu-color;
}

footer .social li a i{
    color: $gundogdu-color;
}

footer .social li:after{
    display: none;
}

footer .right{
    text-align:right;
    color: $text-white;
}

footer .inek{
    background-color: $gundogdu-color;
    height: 300px;
    width: 250px;
}

footer .inek img{
    margin-top: 53px;
}

@media (max-width:1024px) {
    footer{
        font-size: 15px;
        .footin img{
            display: none;
        }
        .footin ul.col-2 {
            padding: 0 6px;
        }
        .col-2 li:first-child:after {
            content: "";
            left: 6px;
        }
    }
  }

  @media (min-width:767px) and (max-width:1023px) {
    footer{
        flex-direction: column-reverse;
        .col-9.content {
            padding: 27px 0;
            width: 95%;
        }
}
    footer .inek {
        width: 100%;
        height: 150px;
        img {
            width: 19%;
            margin-top: 3px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            display: flex;
        }
    }

    .footin{
        flex-direction: row!important;
        align-items: flex-start!important;
    }
  }