$grid_width: 1320;
$grid_cols: 12;

header, .content {
    max-width: $grid_width * 1px;
    margin: 0 auto;
    padding-left: 15px!important;
    padding-right: 15px!important;
    box-sizing: border-box;
  }


  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @for $i from 1 through $grid_cols {
    .col-#{$i} {
      flex-basis: (100 / ($grid_cols / $i) ) * 1%;
    }
  }

  [class*=flex-],
  [class~=flex]{
    display: flex;
  }

  //FLEX
  .flex{

    //ALIGN-ITEMS
    &-top {
      align-items: flex-start;
    }
    &-middle {
      align-items: center;
    }
    &-center {
      justify-content: center;
    }
    &-bottom {
      align-items: flex-end;
    }

    //JUSTIFY-CONTENT
    &-space-between {
      justify-content: space-between;
    }

    //FLEX-DIRECTION
    &-column{
      flex-direction: column;
    }

    &-column-reverse{
      flex-direction: column-reverse;
    }
  }
