.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.btn:hover{
    opacity: .84;
}

.btn-primary {
    background-color: $gundogdu-color;
    padding: 14px 32px 11px 32px;
    font-size: 20px;
    font-family: $font-medium;
  }

  @media screen and (max-width: 568px) {
  .btn-primary {
    padding: 8px 24px 7px;
    font-size: 16px;
  }
}
  