@mixin icon-name($name) {
    .icon-#{$name} {
        background-image: url("../../images/#{$name}.png");
    }
  }

  @mixin flexContainer($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }