main .productDetail {
  max-width: 520px;

  h1 {
    font-family: $font-black;
    font-size: 170px;
  }
}

main .productInfo {
  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
  }
  section:nth-child(1) {
      p{
          max-width: 460px;
      }
  }
  section {
    h2 {
        font-size: 20px;
        margin-bottom: 14px;
        font-family: $font-medium;
      }
    .column {
      flex: 1;
      margin: 2px;
      padding: 10px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      font-family: $font-medium;
      
      p {
        line-height: 34px;
        font-size: 16px;
        border-bottom: 1px solid #efefef;
      }
      p:last-child {
        border: none;
      }
    }
  }
}
