body {
  background: $main-bg;
  color: $main-color;
  font-family: $font-light;
}

p{
  line-height: 26px;
  font-size: 18px;
}

.pageDetail p {
  padding: 10px 0;
  &:last-child {
    margin-bottom:50px;
  }
  &:first-child {
    margin-top:50px;
  }
}

@media (max-width:1024px) {
  p{
    line-height: 23px;
  }
}